#root {
  width: 100%;
}

.list-wrap ul {
  width: 100%;
  padding: 40px;
  border: 1px solid #000;
}
.list-wrap ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-wrap ul li .date-wrap {
  display: flex;
  align-items: center;
}